body{
    background-color: #c8e7c8;
}
h1,
ul{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    font: bold 24px/1.5 Arial, sans-serif;
}
h1{
    margin-top: 1em;
}
img{
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
li{
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #676767;
    border-top: none;
    border-left: none;
    padding: 10px;
    margin: 5px auto;
}
input{
    display: none;
}
input + label + div{
    display: none;
}
input:checked + label + div{
    display: block;

}