body{
    background-color: #c8e7c8;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}
h1{
    margin-top: 1.5rem;
    font: bold 2rem Arial, sans-serif;
}
h2{
    font: bold 1.5rem Arial, sans-serif;
    color: #586458;
    display: inline-block;
    width: 14rem;
}
li{
    background-color: #ffffff;
    border-radius: 0.5em;
    border: 0.1em solid #676767;
    border-top: none;
    border-left: none;
    padding: 0.5em;
    margin: 0.3em auto;
}
input{
    display: none;
}
label{
    display: block;
}
.icon{
    width: 4%;
    margin-left: 12.5rem;
    transition: 0.5s;
}
.meme{
    display: block;
    width: 0%;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;   
}
input:checked + label > .meme{
    width: 75%;
    transition: 0.5s;
}
input:checked + label > h2{
    color: black;
}
input:checked + label > .icon{
    rotate: -90deg;
    transition: 0.5s;
}
@media (hover: hover) {
    input:hover + label > .meme{
        width: 75%;
        transition: 0.5s;
    }
    .icon{
        display: none;
    }
    ul:hover .icon{
        display: inline
    }
    ul:hover h2{
        color: black;
    }
    input:hover + label > .icon{
        rotate: -90deg;
        transition: 0.5s;
    }
}